.icon {
  transition:
    opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
}

.copyButton {
  margin-top: 2px !important;
  cursor: pointer;
  border: none !important;
  outline: none !important;
  background: none !important;
}

.iconWrap {
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 16px;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
