.header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.merchantName {
  font-size: 1.25rem;
  color: #0A1628;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.amount {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #0A1628;
  margin-bottom: 0.5rem;
  text-align: center;
}

.currency {
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #0A1628;
}

.reference {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #556877;
  margin-bottom: 1.5rem;
  text-align: center;
}

.referenceNumber {
  font-weight: 500;
  color: #0A1628;
}